Django
djangorestframework
django-cors-headers
gunicorn
PyMuPDF
python-dotenv
openai
tqdm
sqlparse
typing_extensions
djangorestframework-simplejwt
drf-yasg
psycopg2-binary

PyPDF2
PyMuPDF
pytesseract
Pillow
